

div.row {
  display: flex;
  max-width: 100%;
  padding:8rem;
  height:50px;
}

.third-row{
    background-color: $primary;
    height:50px;
  }

#footer-row{
  background-color: $primary;
}
  
  div.card-body{
    border-radius: 12px;
    font-family: 'Teko', sans-serif !important;
  }
  div.card{
    width:220px;
    margin-left:6.5%;
    height:200px;
    margin-top:-100%;
    border:none;
    border-radius: 12px;
    background-color: $primary;
  }
  
  div.card-title.h5{
    color:$plain !important;
    text-align: center;
  }

  .icon{
    width:30%;
    margin-top:2.5rem;
    margin-bottom:1rem;
    margin-left:4rem;
  }




  .icon1{
    width:25%;
    margin-top:3rem;
    margin-bottom:1rem;
    margin-left:4rem;
  }
  .icon3{
    width:25%;
    margin-top:3rem;
    margin-bottom:1rem;
    margin-left:4rem;
  }

  .coding{
    text-align: center;
    margin-left:-2%;
    color:$primary !important;
  }
  
  div.col{
    padding:2rem;
    max-width:100%;
  }

  .card-header{
    color:$primary;
    margin:0;
    text-align: center;
    padding-bottom:10rem;
    margin-top:-2rem;
    font-family: 'Teko', sans-serif !important;
    font-size:2em;
    margin-left:-2%;
  }




@media (min-width:270px) and (max-width:280px){
    
  div.row {
    padding:.6rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:920px;
    margin-top:2rem;
    }
    .third-row{
        max-width:100%;
        margin:0;
        padding:0;
        height:350px;
        margin-top:5rem;
        margin-bottom: 5rem;
        height:920px;
        background-color: $secondary;

      }
      div.card.card{
        margin:0;
        padding:0;
        width:220px;
        height:220px;
        background-color: $plain;
      }

      div.card1.card{
        margin-top:2rem !important;
        margin-bottom:3rem;
      }
    
      div.card2.card{
        margin-top:-5rem !important;
        margin-bottom:3rem;
      }
     div.card3.card{
        margin-top:-5rem !important;
        margin-bottom:0;
      }
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:30%;
        width:40%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:35rem;      
        font-size:1.8em;
      }
}


@media (min-width:281px) and (max-width:320px){
    
  div.row {
    padding:1.8rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:900px;
    margin-top:2rem;
    }
    .third-row{
      max-width:100%;
      margin:0;
      padding:0;
      margin-top:5rem;
      margin-bottom: 5rem;
      height:900px;
      background-color: $secondary;

    }
    div.card.card{
      margin:0;
      padding:0;
      width:220px;
      height:220px;
      background-color: $plain;
    }

    div.card1.card{
      margin-top:2rem !important;
      margin-bottom:2rem;
    }
  
    div.card2.card{
      margin-top:-5rem !important;
      margin-bottom:2rem;
    }
     div.card3.card{
        margin-top:-5rem !important;
        margin-bottom:0;
      }
      
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:30%;
        width:40%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:33rem;  
        font-size:2em;       
      }
}
@media (min-width:321px) and (max-width:360px){
  div.row {
    padding:3rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:920px;
    margin-top:2rem;
    }
    .third-row{
      max-width:100%;
      margin:0;
      padding:0;
      margin-top:5rem;
      margin-bottom: 5rem;
      height:920px;
      background-color: $secondary;

    }
    div.card.card{
      margin:0;
      padding:0;
      width:220px;
      height:220px;
      background-color: $plain;
    }

      div.card1.card{
        margin-top:2rem !important;
        margin-bottom:2rem;
      }
    
      div.card2.card{
        margin-top:-5rem !important;
        margin-bottom:2rem;
      }
     div.card3.card{
        margin-top:-5rem !important;
        margin-bottom:0;
      }
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:30%;
        width:40%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:33rem;      
        font-size:2em;   
      }
}


@media (min-width:361px) and (max-width:375px){
  div.row {
    padding:3.5rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:920px;
    margin-top:2rem;
    }
  
      .third-row{
        max-width:100%;
        margin:0;
        padding:0;
        margin-top:5rem;
        margin-bottom: 5rem;
        height:920px;
        background-color: $secondary;
  
      }
      div.card.card{
        margin:0;
        padding:0;
        width:220px;
        height:220px;
        background-color: $plain;
      }
    
      div.card2.card{
        margin-top:-5rem !important;
      }
     div.card3.card{
        margin-top:-5rem !important;
        margin-bottom:0;
      }
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:30%;
        width:40%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:33rem;      
        font-size:2.5em;   
      }
}


@media (min-width:376px) and (max-width:400px){
  div.row {
    padding:4rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:920px;
    margin-top:2rem;
    }
    .third-row{
      max-width:100%;
      margin:0;
      padding:0;
      margin-top:5rem;
      margin-bottom: 5rem;
      height:920px;
      background-color: $secondary;

    }
    div.card.card{
      margin:0;
      padding:0;
      width:220px;
      height:220px;
      background-color: $plain;
    }
  
    div.card1.card{
      margin-top:0rem !important;
      margin-bottom:2rem;
    }
    
      div.card2.card{
        margin-top:-5rem !important;
        margin-bottom:2rem;
      }
     div.card3.card{
        margin-top:-5rem !important;
        margin-bottom:0;
      }
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:30%;
        width:40%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:33rem;   
        font-size:2.5em;   
      }
}

@media (min-width:401px) and (max-width:414px){
  div.row {
    padding:4.5rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:1000px;
    margin-top:2rem;
    }
    .third-row{
        max-width:100%;
        margin:0;
        padding:0;
        height:350px;
        margin-top:5rem;
        margin-bottom: 5rem;
        height:1000px;
        background-color: $secondary;

      }
      div.card.card{
        margin:0;
        padding:0;
        width:220px;
        height:220px;
        background-color: $plain;
      }
    
      div.card1.card{
        margin-top:0rem !important;
        margin-bottom:2rem;
      }
      
        div.card2.card{
          margin-top:-5rem !important;
          margin-bottom:2rem;
        }
     div.card3.card{
        margin-top:-5rem !important;
        margin-bottom:0;
      }
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:30%;
        width:40%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:33rem;   
        font-size:2.1em;   
      }
}
@media (min-width:415px) and (max-width:428px){
  div.row {
    padding:5rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:1000px;
    margin-top:2rem;
    }
    .third-row{
        max-width:100%;
        margin:0;
        padding:0;
        height:350px;
        margin-top:5rem;
        margin-bottom: 5rem;
        height:1000px;
        background-color: $secondary;

      }
      div.card.card{
        margin:0;
        padding:0;
        width:220px;
        height:220px;
        background-color: $plain;
      }
    
      div.card1.card{
        margin-top:-2rem !important;
        margin-bottom:2rem;
      }
      
        div.card2.card{
          margin-bottom:2rem;
        }
     div.card3.card{
        margin-bottom:0;
      }
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:30%;
        width:40%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:33rem;   
        font-size:2.1em;   
      }
}
@media (min-width:429px) and (max-width:540px){
  
  div.row {
    padding:9rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:1000px;
    margin-top:2rem;
    }
    .third-row{
      max-width:100%;
      margin:0;
      padding:0;
      height:350px;
      margin-top:5rem;
      margin-bottom: 5rem;
      height:1000px;
      background-color: $secondary;

    }
    div.card.card{
      margin:0;
      padding:0;
      width:220px;
      height:220px;
      background-color: $plain;
    }

      div.card1.card{
        margin-top:-4.5rem !important;
        margin-bottom:5rem;
      }
    
      div.card2.card{
        margin-top:-5rem !important;
      }
     div.card3.card{
        margin-top:0rem !important;
        margin-bottom:0;
      }
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:30%;
        width:40%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:33rem;  
        font-size:2.5em;    
      }
}
@media (min-width:541px) and (max-width:568px){
  div.row {
    padding:9.5rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:1000px;
    margin-top:2rem;
    }
    .third-row{
      max-width:100%;
      margin:0;
      padding:0;
      margin-top:5rem;
      margin-bottom: 5rem;
      height:1000px;
      background-color: $secondary;

    }
    div.card.card{
      margin:0;
      padding:0;
      width:220px;
      height:220px;
      background-color: $plain;
    }

      div.card1.card{
        margin-top:-4.5rem !important;
        margin-bottom:5rem;
      }
    
      div.card2.card{
        margin-top:-5rem !important;
      }
     div.card3.card{
        margin-top:0rem !important;
        margin-bottom:0;
      }
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:30%;
        width:40%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:33rem;      
      }
}
@media (min-width:569px) and (max-width:600px){
  div.row {
    padding:11rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:1050px;
    margin-top:2rem;
    }
    .third-row{
      max-width:100%;
      margin:0;
      padding:0;
      margin-top:5rem;
      margin-bottom: 5rem;
      height:1050px;
      background-color: $secondary;

    }
    div.card.card{
      margin:0;
      padding:0;
      width:220px;
      height:220px;
      background-color: $plain;
    }

      div.card1.card{
        margin-top:-4.5rem !important;
        margin-bottom:5rem;
      }
    
      div.card2.card{
        margin-top:-5rem !important;
      }
     div.card3.card{
        margin-top:0rem !important;
        margin-bottom:0;
      }
    
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:30%;
        width:40%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:35rem;      
      }  
}
@media (min-width:601px) and (max-width:640px){
  
  div.row {
    padding:12rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:1100px;
    margin-top:2rem;
    }
    .third-row{
      max-width:100%;
      margin:0;
      padding:0;
      margin-top:5rem;
      margin-bottom: 5rem;
      height:1100px;
      background-color: $secondary;

    }
    div.card.card{
      margin:0;
      padding:0;
      width:220px;
      height:220px;
      background-color: $plain;
    }

      div.card1.card{
        margin-top:-4.5rem !important;
        margin-bottom:5rem;
      }
    
      div.card2.card{
        margin-top:-5rem !important;
      }
     div.card3.card{
        margin-top:0rem !important;
        margin-bottom:0;
      }
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:30%;
        width:40%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:43rem;      
      }
}



@media (min-width:641px) and (max-width:667px){
  
  div.row {
    padding:13rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:1100px;
    margin-top:2rem;
    }
    .third-row{
      max-width:100%;
      margin:0;
      padding:0;
      margin-top:5rem;
      margin-bottom: 5rem;
      height:1100px;
      background-color: $secondary;

    }
    div.card.card{
      margin:0;
      padding:0;
      width:220px;
      height:220px;
      background-color: $plain;
    }

      div.card1.card{
        margin-top:-4.5rem !important;
        margin-bottom:5rem;
      }
    
      div.card2.card{
        margin-top:-5rem !important;
      }
     div.card3.card{
        margin-top:0rem !important;
        margin-bottom:0;
      }
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:30%;
        width:40%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:38rem;      
      }  
    }

@media (min-width:668px) and (max-width:740px){
  div.row {
    padding:15rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:1200px;
    margin-top:2rem;
    }
    .third-row{
      max-width:100%;
      margin:0;
      padding:0;
      margin-top:5rem;
      margin-bottom: 5rem;
      height:1200px;
      background-color: $secondary;

    }
    div.card.card{
      margin:0;
      padding:0;
      width:220px;
      height:220px;
      background-color: $plain;
    }

      div.card1.card{
        margin-top:-4.5rem !important;
        margin-bottom:5rem;
      }
    
      div.card2.card{
        margin-top:-5rem !important;
      }
     div.card3.card{
        margin-top:0rem !important;
        margin-bottom:0;
      }
    
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:30%;
        width:40%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:43rem;      
      }  
}
@media (min-width:741px) and (max-width:768px){
  
  div.row {
    padding:16rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:1200px;
    margin-top:2rem;
    }
    .third-row{
      max-width:100%;
      margin:0;
      padding:0;
      margin-top:5rem;
      margin-bottom: 5rem;
      height:1200px;
      background-color: $secondary;

    }
    div.card.card{
      margin:0;
      padding:0;
      width:220px;
      height:220px;
      background-color: $plain;
    }

      div.card1.card{
        margin-top:-4.5rem !important;
        margin-bottom:5rem;
      }
    
      div.card2.card{
        margin-top:-5rem !important;
      }
     div.card3.card{
        margin-top:0rem !important;
        margin-bottom:0;
      }
    
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:30%;
        width:40%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:40rem;      
      }  
}
@media (min-width:769px) and (max-width:780px){
    div.row {
        padding:4.5rem;
        background-color: $primary;
        max-width:100%;
        }
        .third-row{
            max-width:100%;
            margin:0;
            padding:0;
            background-color: $primary;
            height:500px;
            margin-top:25rem;
            padding:9rem;
          }
          div.card{
            margin:0;
            padding:0;
            margin-top:5rem;
          }
          div.row {
            padding:16rem;
            background-color: $primary;
            max-width:100%;
            background-color: $secondary;
            height:1200px;
            margin-top:2rem;
            }
            .third-row{
              max-width:100%;
              margin:0;
              padding:0;
              margin-top:5rem;
              margin-bottom: 5rem;
              height:1200px;
              background-color: $secondary;
        
            }
            div.card.card{
              margin:0;
              padding:0;
              width:220px;
              height:220px;
              background-color: $plain;
            }
        
              div.card1.card{
                margin-top:-4.5rem !important;
                margin-bottom:5rem;
              }
            
              div.card2.card{
                margin-top:-5rem !important;
              }
             div.card3.card{
                margin-top:0rem !important;
                margin-bottom:0;
              }
            
            
              div.card-title.h5{
                color:$primary;
                text-align: center;
              }
        
              .icon{
                margin-left:30%;
                width:40%;
              }
              .card-header{
                padding-bottom:0;
                padding-top:42rem;      
              }  
}
@media (min-width:781px) and (max-width:828px){
  div.row {
    padding:6.5rem;
    background-color: $primary;
    max-width:100%;
    }
    .third-row{
        max-width:100%;
        margin:0;
        padding:0;
        background-color: $primary;
        height:500px;
        margin-top:25rem;
        padding:9rem;
      }
      div.card{
        margin:0;
        padding:0;
        margin-top:5rem;
      }
      div.row {
        padding:17.5rem;
        background-color: $primary;
        max-width:100%;
        background-color: $secondary;
        height:1100px;
        margin-top:2rem;
        }
        .third-row{
          max-width:100%;
          margin:0;
          padding:0;
          margin-top:5rem;
          margin-bottom: 5rem;
          height:1100px;
          background-color: $secondary;
    
        }
        div.card.card{
          margin:0;
          padding:0;
          width:220px;
          height:220px;
          background-color: $plain;
        }
    
          div.card1.card{
            margin-top:-9.5rem !important;
            margin-bottom:5rem;
          }
        
          div.card2.card{
            margin-top:-5rem !important;
          }
         div.card3.card{
            margin-top:0rem !important;
            margin-bottom:0;
          }
        
          div.card-title.h5{
            color:$primary;
            text-align: center;
          }
    
          .icon{
            margin-left:30%;
            width:40%;
          }
          .card-header{
            padding-bottom:0;
            padding-top:42rem;      
            font-size:2.6em;
          }  
}
@media (min-width:829px) and (max-width:854px){
  div.row {
    padding:4.5rem;
    background-color: $primary;
    max-width:100%;
    }
    .third-row{
        max-width:100%;
        margin:0;
        padding:0;
        background-color: $primary;
        height:500px;
        margin-top:25rem;
        padding:9rem;
      }
      div.card{
        margin:0;
        padding:0;
        margin-top:5rem;
      }
      div.row {
        padding:16rem;
        background-color: $primary;
        max-width:100%;
        background-color: $secondary;
        height:1200px;
        margin-top:2rem;
        }
        .third-row{
            max-width:100%;
            margin:0;
            padding:0;
            margin-top:5rem;
            margin-bottom: 5rem;
            height:1200px;
            background-color: $secondary;
    
          }
          div.card.card{
            margin:0;
            padding:0;
            width:290px;
            height:250px;
            background-color: $plain;
          }
    
          div.card1.card{
            margin-top:-7.5rem !important;
            margin-bottom:5rem;
          }
        
          div.card2.card{
            margin-top:-5rem !important;
          }
         div.card3.card{
            margin-top:0rem !important;
            margin-bottom:0;
          }
        
          div.card-title.h5{
            color:$primary;
            text-align: center;
          }
    
          .icon{
            margin-left:30%;
            width:40%;
          }
          .card-header{
            padding-bottom:0;
            padding-top:42rem; 
            font-size:2.6em;     
          }  
}
@media (min-width:855px) and (max-width:896px){
  div.row {
    padding:4.5rem;
    background-color: $primary;
    max-width:100%;
    }
    .third-row{
        max-width:100%;
        margin:0;
        padding:0;
        background-color: $primary;
        height:500px;
        margin-top:25rem;
        padding:9rem;
      }
      div.card{
        margin:0;
        padding:0;
        margin-top:5rem;
      }
      div.row {
        padding:17rem;
        background-color: $primary;
        max-width:100%;
        background-color: $secondary;
        height:1200px;
        margin-top:2rem;
        }
        .third-row{
            max-width:100%;
            margin:0;
            padding:0;
            margin-top:5rem;
            margin-bottom: 5rem;
            height:1200px;
            background-color: $secondary;
    
          }
          div.card.card{
            margin:0;
            padding:0;
            width:300px;
            height:250px;
            background-color: $plain;
          }
    
          div.card1.card{
            margin-top:-7rem !important;
            margin-bottom:5rem;
          }
        
          div.card2.card{
            margin-top:-5rem !important;
          }
         div.card3.card{
            margin-top:0rem !important;
            margin-bottom:0;
          }
        
          div.card-title.h5{
            color:$primary;
            text-align: center;
          }
    
          .icon{
            margin-left:30%;
            width:40%;
          }
          .card-header{
            padding-bottom:0;
            padding-top:44rem;      
          }  
}

@media (min-width:897px) and (max-width:915px){

  .third-row{
      max-width:100%;
      margin:0;
      padding:0;
      background-color: $primary;
      height:500px;
      margin-top:25rem;
      padding:9rem;
    }
    div.card{
      margin:0;
      padding:0;
      margin-top:5rem;
    }
    div.row {
      padding:15rem;
      background-color: $primary;
      max-width:100%;
      background-color: $secondary;
      height:1480px;
      margin-top:2rem;
      }
      .third-row{
          max-width:100%;
          margin:0;
          padding:0;
          margin-top:5rem;
          margin-bottom: 5rem;
          height:1500px;
          background-color: $secondary;
  
        }
        div.card.card{
          margin:0;
          padding:0;
          width:400px;
          height:260px;
          background-color: $plain;
        }
  
        div.card1.card{
          margin-top:0rem !important;
          margin-bottom:5rem;
        }
      
        div.card2.card{
          margin-top:-5rem !important;
        }
       div.card3.card{
          margin-top:0rem !important;
          margin-bottom:0;
        }
      
        div.card-title.h5{
          color:$primary;
          text-align: center;
        }
  
        .icon{
          margin-left:35%;
          width:30%;
        }
        .card-header{
          padding-bottom:0;
          padding-top:56rem;      
        }  
}


@media (min-width:916px) and (max-width:991px){

    .third-row{
        max-width:100%;
        margin:0;
        padding:0;
        background-color: $primary;
        height:500px;
        margin-top:25rem;
        padding:9rem;
      }
      div.card{
        margin:0;
        padding:0;
        margin-top:5rem;
      }
      div.row {
        padding:15rem;
        background-color: $primary;
        max-width:100%;
        background-color: $secondary;
        height:1500px;
        margin-top:2rem;
        }
        .third-row{
            max-width:100%;
            margin:0;
            padding:0;
            margin-top:5rem;
            margin-bottom: 5rem;
            height:1500px;
            background-color: $secondary;
    
          }
          div.card.card{
            margin:0;
            padding:0;
            width:400px;
            height:260px;
            background-color: $plain;
          }
    
          div.card1.card{
            margin-top:-2rem !important;
            margin-bottom:5rem;
          }
        
          div.card2.card{
            margin-top:-5rem !important;
          }
         div.card3.card{
            margin-top:0rem !important;
            margin-bottom:0;
          }
        
          div.card-title.h5{
            color:$primary;
            text-align: center;
          }
    
          .icon{
            margin-left:35%;
            width:30%;
          }
          .card-header{
            padding-bottom:0;
            padding-top:55rem;      
          }  
}
@media (min-width:992px) and (max-width:1024px){
  .third-row{
    max-width:100%;
    margin:0;
    padding:0;
    background-color: $primary;
    height:500px;
    margin-top:25rem;
    padding:9rem;
  }
  div.card{
    margin:0;
    padding:0;
    margin-top:5rem;
  }
  div.row {
    padding:18rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:1500px;
    margin-top:2rem;
    }
    .third-row{
        max-width:100%;
        margin:0;
        padding:0;
        margin-top:5rem;
        margin-bottom: 5rem;
        height:1500px;
        background-color: $secondary;

      }
      div.card.card{
        margin:0;
        padding:0;
        width:400px;
        height:260px;
        background-color: $plain;
      }

      div.card1.card{
        margin-top:-3rem !important;
        margin-bottom:5rem;
      }
    
      div.card2.card{
        margin-top:-5rem !important;
      }
     div.card3.card{
        margin-top:0rem !important;
        margin-bottom:0;
      }
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:35%;
        width:30%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:0rem;      
      }  
}

@media (min-width:1025px) and (max-width:1080px){
  .third-row{
    max-width:100%;
    margin:0;
    padding:0;
    background-color: $primary;
    height:500px;
    margin-top:25rem;
    padding:9rem;
  }
  div.card{
    margin:0;
    padding:0;
    margin-top:5rem;
  }
  div.row {
    padding:20rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:1500px;
    margin-top:2rem;
    }
    .third-row{
        max-width:100%;
        margin:0;
        padding:0;
        margin-top:5rem;
        margin-bottom: 5rem;
        height:1500px;
        background-color: $secondary;

      }
      div.card.card{
        margin:0;
        padding:0;
        width:400px;
        height:270px;
        background-color: $plain;
      }

      div.card1.card{
        margin-top:-7rem !important;
        margin-bottom:5rem;
      }
    
      div.card2.card{
        margin-top:-5rem !important;
      }
     div.card3.card{
        margin-top:0rem !important;
        margin-bottom:0;
      }
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:35%;
        width:30%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:4rem;  
        font-size:2.6em;    
      }  
}

@media (min-width:1180px) and (max-width:1280px){
  .third-row{
    max-width:100%;
    margin:0;
    padding:0;
    background-color: $primary;
    height:500px;
    margin-top:25rem;
    padding:9rem;
  }
  div.card{
    margin:0;
    padding:0;
    margin-top:5rem;
  }
  div.row {
    padding:24rem;
    background-color: $primary;
    max-width:100%;
    background-color: $secondary;
    height:1500px;
    margin-top:2rem;
    }
    .third-row{
        max-width:100%;
        margin:0;
        padding:0;
        margin-top:5rem;
        margin-bottom: 5rem;
        height:1500px;
        background-color: $secondary;

      }
      div.card.card{
        margin:0;
        padding:0;
        width:450px;
        height:270px;
        background-color: $plain;
      }

      div.card1.card{
        margin-top:-9rem !important;
        margin-bottom:5rem;
      }
    
      div.card2.card{
        margin-top:-5rem !important;
      }
     div.card3.card{
        margin-top:0rem !important;
        margin-bottom:0;
      }
    
      div.card-title.h5{
        color:$primary;
        text-align: center;
      }

      .icon{
        margin-left:35%;
        width:30%;
      }
      .card-header{
        padding-bottom:0;
        padding-top:2rem;      
      }  
}




@media (min-width:1281px){

      div.card.card{
        margin:0;
        padding:0;
        width:250px;
        height:270px;
        background-color: $primary;
      }

      div.card1.card{
        margin-top:-17rem !important;
        margin-bottom:5rem;
        margin-left:3rem;
      }
    
      div.card2.card{
        margin-top:-17rem !important;
        margin-left:2em;
      }

     div.card3.card{
      margin-top:-17rem !important;
      margin-bottom:0;
      margin-left:1em;
      }
      .icon{
        margin-left:35%;
        margin-top:35%;
      }
}
